<section ngClass="card-list" fxLayout fxLayout.lt-md="column" fxLayoutAlign.gt-sm="space-evenly center" fxLayoutGap="10px">
    <mat-card  fxFlex.lt-md="100%" fxFlex.md="30" fxFlex.gt-md="30">
        <mat-card-title>
          <h4>Device View</h4>
        </mat-card-title>
        <mat-list>
          <mat-list-item *ngFor="let dev of _devices">
            <mat-icon matListIcon>devices other</mat-icon>
            <span style="padding-left: 5px">{{dev.name}}</span>
            <span style="flex: 1 1 auto"></span>
            <mat-slide-toggle (change)="toggle(dev)"></mat-slide-toggle>
          </mat-list-item>
        </mat-list>
      
        <mat-card-actions fxLayout="row-reverse">
          <button mat-fab (click)="addDevice()">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
</section>