mat-sidenav-container, mat-sidenav, mat-sidenav-content {
    height: 100%;
}

mat-sidenav {
    width: 200px;
}

.animation {
    overflow: hidden;
    z-index: 1;
}

.header {
    z-index: 9999 !important;
    overflow: hidden;
}

.back {
    z-index: 1;
    overflow: hidden;
}