<section class="box">
  <app-header class="header" (sidenave)="toggle()"></app-header>
  <mat-sidenav-container ngClass.xs="sidenav-xs" ngClass.gt-xs="box">
    <mat-sidenav #sidenav (keydown.escape)="preventClose()" [mode]="sidenavMode" [opened]="sidenavOpened" class="sidenav" *ngIf="isAuth">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <main ngClass.gt-xs="animation" ngClass.xs="sm-animation" [@slideUpAnimation]="getState(o)" >
          <router-outlet #o="outlet"></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>