.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

mat-sidenav-container {
    flex: 1 1 auto;
}

mat-sidenav-content {
    flex: 1 1 auto;
    overflow: auto;
}

.animation {
    
    z-index: -9999;
}

.sidenav {
    box-shadow: 0px 3px 1px 0.5px rgb(49, 45, 45);
}

/* .sidenav {
    top: 64px;
}

.sidenav-xs {
    top: 56px;
} */

mat-sidenav {
    width: 200px;
}


.header {
    flex: 0 0 auto;
    width: 100%;
    z-index: 99 !important;
    overflow: hidden !important;
    scroll-behavior: smooth;
    box-shadow: 0px 1px 5px 0.5px rgb(49, 45, 45);
}

.sm-animation {

    overflow: auto;
    z-index: -9999;
}

/* .header + .animation {
    padding-top: 64px;
}

.header + .sm-animation {
    padding-top: 56px; 
} */
