<mat-toolbar class="header" color="primary" class="sticky">
    <span>
      <button mat-icon-button (click)="sidenavOpen()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <span class="logo" routerLink="/">Logo</span>
    <span class="fill"></span>
    <button mat-raised-button color="accent" *ngIf="doLogin" routerLink="/login">Login</button>
    <button mat-raised-button color="accent" *ngIf="doSignup" routerLink="/signup">Signup</button>
    <button mat-raised-button color="accent" *ngIf="isAuth" (click)="onLogout()">Logout</button>
  </mat-toolbar>