.fill {
    flex: 1 1 auto;
}

.logo {
    padding-left: 10px;
    cursor: pointer;
    outline-style: none;
}

.header {
    z-index: 9999;
    overflow: hidden;
    box-shadow: 0px 0.5px 5px 0.5px rgb(49, 45, 45);
}