<section ngClass="card-list" fxLayout fxLayout.lt-md="column" fxLayoutAlign.gt-sm="space-evenly center" fxLayoutGap="20px">
  <mat-card  fxFlex.lt-md="100%" fxFlex.md="400px" fxFlex.gt-md="500px">
    <mat-card-title>
      <h4>Graph View</h4>
    </mat-card-title>
    <div [chart]="chart"></div>
    <mat-card-content>
      <p>Some Description</p>
    </mat-card-content>
    <mat-card-actions fxLayout="row-reverse">
      <button mat-fab (click)="openDialog()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card  fxFlex="400px" fxFlex.lt-md="100%"  fxFlex.gt-md="500px">
    <mat-card-title>
      <h4>Admin View</h4>
    </mat-card-title>
    <img mat-card-image src="/assets/images/people.png">
    <mat-card-content>
      <p>Some Description</p>
    </mat-card-content>
    <mat-card-actions fxLayout="row-reverse">
      <button mat-fab (click)="openWeb()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card  fxFlex="400px" fxFlex.lt-md="100%"  fxFlex.gt-md="500px">
    <mat-card-title>
      <h4>Data View</h4>
    </mat-card-title>
    <img mat-card-image src="/assets/images/group.png">
    <mat-card-content>
      <p>Some Description</p>
    </mat-card-content>
    <mat-card-actions fxLayout="row-reverse">
      <button mat-fab>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>