<section ngClass="card-list" fxLayout fxLayout.lt-md="column" fxLayoutAlign.gt-sm="space-evenly center" fxLayoutGap="10px"> 
<mat-card  fxFlex.lt-md="100%" fxFlex.md="30" fxFlex.gt-md="30">
    <mat-card-title>
      <h4>Graph View</h4>
    </mat-card-title>
    <chart [options]="options" (load)="saveInstance($event.context)"></chart>
    <mat-card-content>
      <p>Some Description</p>
    </mat-card-content>
    <mat-card-actions fxLayout="row-reverse">
      <button mat-fab (click)="openDialog()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  </section>